.divider {
    margin-top: 10px;
}

.divider:after {
    content: "";
    display: block;
    margin-top: -14px;
    border-top: 2px solid #fff;
    width: 100%;
}

.d-file {
    border: 0;
    background-color: transparent;
}

.d-file-body {
    background-color: #fff;
    margin-top: -1.25rem;

}

.search-result {
    background-color: transparent;
    border: 0;
}

.search-border {
    border-bottom: 2px solid #fff;
    padding: .75rem 1.25rem;
}

.to-top {
    font-size: 32px;
    color: #fff;
}